@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beat My Grades</h1>
    <p class="lead">A Beat My Grades é a solução para um acompanhamento académico qualificado e esclarecimento de dúvidas, em qualquer hora e em qualquer lugar.

Uma rede de educação concebida em plataforma online, composta pelos melhores alunos do país, dispostos a ajudar qualquer aluno a atingir o sucesso académico.</p>
    <p><a href="http://beatmygrades.com/" class="btn btn-primary btn-large">Ver mais &raquo;</a></p>
</div>


        <h2>Porquê a Beat My Grades?</h2>
        <p>
            A Beat My Grades é a forma mais fácil e cómoda de ter auxílio académico com os melhores alunos do país, sem sair de casa. Aqui, poderá escolher o apoio mais apropriado às suas necessidades, sempre com a nossa garantia de qualidade.

            Uma plataforma online inteiramente ao seu dispor, em qualquer altura e em qualquer lugar. A rede de educação live stream de todos os falantes da língua portuguesa, a Beat My Grades é chave para derrubar qualquer obstáculo no seu caminho para atingir o seu sucesso académico.
        </p>
